@import "variables";
@import "custom";

* {
  padding: 0;
  margin: 0;
}

nav {
  background-color: $primary-color;
  ul {
    list-style: none;
    padding: 1rem;
    margin: 0;
  }
  li {
    display: inline-block;
  }
  a {
    text-decoration: none;
    padding: 20px;
    color: black;
  }
}

//Product cards

.gridContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.productCardList {
  width: 60%;
  display: grid;
  // grid-auto-columns: max-content;
  // grid-auto-flow: dense;
  // grid-auto-rows: minmax(50px, fit-content(100%));
  grid-gap: 1.5vw;
  grid-template-columns: repeat(4, 1fr);


.grid-item {
  grid-column: span 1;
  grid-row: span 1;
}

.border-light {
  border-color: transparent;
}

.card-subtitle {
  font-style: italic;
  font-weight: normal;
  margin-bottom: .3rem;
}

.card-body {
  padding-left: 0;
  padding-bottom: 0;
}

img.card-img-top {
  height: 200px;
  object-fit: cover;
}

.prizeAndIcon {
  display: flex;
}

p.card-text {
  margin-bottom: .3rem;
  }

button {
  height: fit-content;
  border: none;
  background-color: transparent;
}
  
svg {
  margin-left: 1rem;
  height: 20px;
}
}

.productNavContainer {
  display: flex;
  justify-content: center;
  padding: 2rem 0 2rem 0;
}

.productNav {

  width: 60%;
  display: flex;
  justify-content: space-around;

  li {
    display: inline-block;
  }

  .dropdown {
    display: inline-block;
  }

  .searchBox {
    width: 30%;
  }

  input.form-control {
    border-color: grey;
    border-right: transparent;
  }

  .input-group-text {
    padding: 0 1rem 0 .5rem;
    margin: 0;
    background-color: transparent;
    border-color: grey;
  }

  svg {
    color: rgb(87, 87, 87); 
  }

  .colorButton {
    background-color: red;
    border-radius: 10px;
    width: 50%;
    height: 50px;
  }

}










