@import "variables";

* {
  padding: 0;
  margin: 0;
}

nav {
  background-color: $primary-color;
  ul {
    list-style: none;
    padding: 1rem;
  }
  li {
    display: inline-block;
  }
  a {
    text-decoration: none;
    padding: 20px;
  }
}

.card {
  height: 100px;
  margin: 50px;
  h1 {
    font-size: 24px;
  }
}
