@import "variables";
@import "custom";

* {
  padding: 0;
  margin: 0;
}

nav {
  background-color: $primary-color;
  ul {
    list-style: none;
    padding: 1rem;
    margin: 0;
  }
  li {
    display: inline-block;
  }
  a {
    text-decoration: none;
    padding: 20px;
    color: black;
  }
}

//Product cards

.listContainer {
  display: flex;
  align-items: center;
  justify-content: center;

.productCardList {
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
}

.border-light {
  border-color: transparent;
}

.card-subtitle {
  font-style: italic;
  font-weight: normal;
}

.card-body {
  padding: 0;
}

img.card-img-top {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

}






